include ../mixins.pug

.bg-dark.w-full.h-full(fxLayout="column" fxLayoutAlign="center")
  .m-auto
    mat-card(style="width:30vw" "*ngIf"="login==true")
      mat-card-title.text-center.mat-h2 Login
      mat-card-content
        .text-center.mat-h4 Let's log you in.
          .mat-caption Don't have an account? #[a(href (click)="login=false") Let's make you an account!]
        form([formGroup]="logInForm")
          mat-grid-list(cols="1" rowHeight="2:1" gutterSize="1.25rem")
            +InputTextField("email", "Your Email", "logInForm.controls.email", "Required Dude.")(type="email" required disabled)
            +InputTextField("pass", "Your Email", "logInForm.controls.pass", "Required Dude.")(type="password" required disabled)
      mat-card-actions(fxLayout="row" fxLayoutAlign="center")
         button(mat-raised-button (disabled)="!logInForm.valid" color="primary") Log In


    mat-card(style="width:30vw" "*ngIf"="login==false")
      mat-card-title.text-center.mat-h2 Register
      mat-card-content
        .text-center.mat-h4 Let's make you your account.
          .mat-caption Already have an account? #[a(href (click)="login=true") Let's log you in!]
        form([formGroup]="registerForm")
          mat-grid-list(cols="1" rowHeight="2:1" gutterSize="1.25rem")
            +InputTextField("fName", "First Name", "registerForm.controls.fName", "Just Who are you?!")(type="text" required maxlength="20")
            +InputTextField("lName", "Last Name", "registerForm.controls.lName", "From what Bloodline?")(type="text" required maxlength="20")
            +InputTextField("email", "Your Email", "registerForm.controls.email", "A Valid email is required")(type="email" required)
            +InputTextField("pass", "Password", "registerForm.controls.pass", "Please Enter a Password")(type="password" required minlength="8")
            +InputSelectField("gender", "Gender", "genderList", "registerForm.controls.gender", "Please Select a Gender.")
      mat-card-actions(fxLayout="row" fxLayoutAlign="center")
         button(mat-raised-button (disabled)="!registerForm.valid" color="primary" "(click)"="submitRegistration()") Register
